# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
*.cpp~
*.un~
*.stackdump
Recipe3-1/Listing3-1/makefile~
Recipe3-1/Listing3-2/makefile~
